{% extends 'base.html' %}

{% block titulo_ventana %}
    Lista de alumnos
{% endblock titulo_ventana %}


{% block contenido %}
  
    
    <table width="100%" class="table">
        <thead>
            <tr>
                <th>CURP</th>
                <th>Nombre</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>E-mail</th>
                <th>Edad</th>
                <th>Fecha de nacimiento</th>
                <th>CCT</th>
                <th>Nombre del CCT</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos  %}
                <tr>
                    <td>{{alumno.curp}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido_paterno}}</td>
                    <td>{{alumno.apellido_materno}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.edad}}</td>
                    <td>{{alumno.fecha_nacimiento}}</td>
                    <td>{{alumno.cct.cct}}</td>
                    <td>{{alumno.cct.nombre}}</td>
                    <td>
                        <a class="btn btn-small btn-success" href="{% url 'editar_alumno' alumno.id %}">Editar</a>
                        <a class="btn btn-small btn-warning" href="{% url 'eliminar_alumno' alumno.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty%}
                <tr>
                    <td colspan="10">
                        <p>No hay alumnos registrados</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
