{% extends 'base.html' %}

{% block titulo_ventana %}
    Lista de alumnos
{% endblock titulo_ventana %}


{% block contenido %}
    <h1>Editar alumno</h1>

    <form method="post">
        {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
        <input type="submit" value="Guardar">
    </form>
    <a href="{% url 'lista_alumnos' %}">Cancelar</a>

{% endblock contenido %}