{% extends 'base.html' %}

{% block titulo_ventana %}
    Nuevo alumno
{% endblock titulo_ventana %}

{% block titulo_ventana %}
    <h1>Nuevo alumno</h1>
{% endblock titulo_ventana %}

{% block contenido %}

    <form method="post" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Crear" class="btn btn-primary">
    </form>
    <a href="{% url 'lista_alumnos' %}" class="btn btn-danger">Cancelar</a>
{% endblock contenido %}
