{% extends 'base.html' %}
{% block titulo_ventana %}
Lista de libros de {{nombre}}
{% endblock titulo_ventana %}

{% block contenido %}
    <h1>Lista de libros de {{nombre}}</h1>
    
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            danger
            {% else %}

            success
            {% endif %}
            {{ message }}
        {% endfor %}



    {% endif %}
        
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Estatus</th>
                <th>Grado</th>
                <th>Clave</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in object_list %}
                <tr>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.estatus}}</td>
                    <td>{{libro.grado}}</td>
                    <td>{{libro.clave}}</td>
                    <td>
                        <a href="{% url 'libros:editar' libro.id_libro%}">Editar</a>
                        <a href="{% url 'libros:eliminar' libro.id_libro%}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
