{% extends 'base.html' %}
{% block titulo_ventana %}
    {{tipo}} libro
{% endblock titulo_ventana %}

{% block contenido %}
    <h1>{{tipo}} Libro</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" 
        {% if tipo == 'Nuevo' %}
            value="Agregar"
        {% else %}
            value="Guardar"
        {% endif %}
        >
    </form>
 {% endblock contenido %}
