{% extends 'base.html' %}
{% block titulo_ventana %}
    Eliminar libro
{% endblock titulo_ventana %}

{% block contenido %}
    <form method="post">
        {% csrf_token %}
        <p>¿Quieres eliminar el libro "{{ object }}"?</p>
        {{ form }}
        <input type="submit" value="Sí">
        <a href="{% url 'libros:lista' %}">Regresar</a>
    </form>
  
{% endblock contenido %}