{% extends 'base.html' %}
{% block titulo_ventana %}
Lista de Centros de trabajo
{% endblock titulo_ventana %}

{% block contenido %}
    <h1>Lista de Centros de trabajo</h1>
    
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            danger
            {% else %}

            success
            {% endif %}
            {{ message }}
        {% endfor %}



    {% endif %}
        
    <table class="table">
        <thead>
            <tr>
                <th>CCT</th>
                <th>Nombre</th>
                <th>Latitud</th>
                <th>Logitud</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cct in object_list %}
                <tr>
                    <td>{{cct.cct}}</td>
                    <td>{{cct.nombre}}</td>
                    <td>{{cct.latitud}}</td>
                    <td>{{cct.longitud}}</td>
                    <td>
                        <a href="">Editar</a>
                        <a href="">Eliminar</a>
                        <a href="{% url 'ccts:detalle' cct.pk %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
