{% extends 'base.html' %}
{% block headers %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <style>
    #map {
      height: 400px;
    }

    html,
    body {
      height: 100%;
      
    }
  </style>
{% endblock headers  %}

{% block contenido %}
<div class="row">
  <div class="col-sm-6 col-lg-4">
    <form method="post" class="form">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class="btn btn-primary" value="Guardar">
    </form>

  </div>
  <div class="col-sm-6 col-lg-8">
    <div id="map"></div>
  </div>
</div>
{% endblock contenido %}

{% block scripts %}
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyZkxzpaZ4n_W0tJKcXYb5dOFXCBYVlqs&callback=initMap&v=weekly"
      async
    ></script>
<script>
    
    let marker;

    function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        center: { lat: 22.767050981989335, lng: -102.5697492675781 },
    });

    marker = new google.maps.Marker({
        map,
        draggable: true,
        animation: google.maps.Animation.DROP,
        position: { lat: 22.767050981989335, lng: -102.5697492675781 },
    });
    marker.addListener("dragend", toggleBounce);
    }

    function toggleBounce() {
      console.log(marker.position);
      marker.setAnimation(google.maps.Animation.BOUNCE);
      $('#id_latitud').val(marker.position.lat);
      $('#id_longitud').val(marker.position.lng);
    }
</script>
{% endblock scripts %}


