<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de libros</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Grado</th>
                <th>Clave</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
                <tr>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.grado}}</td>
                    <td>{{libro.clave}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>